<h2>Classes</h2>
{{#each classes}}
<div class="block">
	<h3>{{title}}</h3>
	<p>{{description}}</p>
	<p>Instuctor : <stong>{{instructor}}</strong></p>
	<a class="button" href="/classes/{{_id}}/details">Class Detail</a>
</div>
{{/each}}
